.editButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all .2s;
    color: var(--text-secondary);
    padding: 0;
}

.editButton:hover {
    background-color: var(--bg-hover);
    color: var(--text-primary);
}

.svgIcon {
    display: block;
}