.header {
  display: block;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #c8d8e9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.header__inner {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.sidePanelMode .header__inner {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.title {
  margin: 0;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.titleMain {
  display: flex;
  align-items: center;
}

.header.sidePanelMode .title {
  width: 100%;
  justify-content: space-between;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 6px;
}

.sidePanelToggle {
  width: 32px;
  height: 32px;
  margin-left: 12px;
}