.box {
  display: flex;
  align-items: center;
  width: 400px;
}

.box.sidePanelMode {
  width: 100%;
}

.box:hover .clearButton {
  opacity: 1;
}

.header__inner {
  padding: 16px 16px;
}

.input {
  font-size: 14px;
  font-weight: 400;
  font-family: sans-serif;
  font-style: normal;
  display: block;
  width: 300px;
  padding: 6px 10px;
  border: solid 1px var(--border-color);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-radius: 4px;
  height: 34px;
  box-sizing: border-box;
}

.sidePanelMode .input {
  width: auto;
  flex: 1;
}

.searchButton,
.clearButton {
  cursor: pointer;
}

.searchButton {
  margin-left: 6px;
}

.clearButton {
  position: absolute;
  right: 100px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.box:hover .clearButton {
  opacity: 1;
}

.clearButton::before,
.clearButton::after {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: var(--text-secondary);
  border-radius: 1px;
  position: absolute;
}

.clearButton::after {
  transform: rotate(45deg);
}

.clearButton::before {
  transform: rotate(-45deg);
}

.clearButton:hover::before,
.clearButton:hover::after {
  background-color: var(--accent-color);
}

.filterToggleButton {
  width: 35px;
  height: 35px;
  margin-left: 6px;
}