.sortableContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    transition: background-color 0.2s ease;
    margin-bottom: 8px;
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.sortableContainer:last-child {
    margin-bottom: 0px;
}

.headerRow {
    display: flex;
    align-items: stretch;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: transparent;
    border-left: 4px solid transparent;

}

.headerRow.selected {
    background-color: var(--selected-bg);
    outline: 2px solid var(--selected-border);
    outline-offset: -2px;
    z-index: 10;
}

.groupDragHandle {
    height: 34px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.selected .groupDragHandle {
    border-color: var(--selected-border);
}

.groupContent {
    flex-grow: 1;
    min-width: 0;
}

/* TabGroup側のボーダーと干渉しないように調整が必要な場合がある */
.groupContent>div {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
}

.groupTabsContainer {
    width: 100%;
    padding-left: 24px;
    display: block;
    overflow: hidden;
    opacity: 0;
    height: 0;
    transition: all .25s ease-in;
    box-sizing: border-box;
}

.groupTabsContainer.open {
    opacity: 1;
    margin-top: 8px;
    margin-bottom: 0;
    height: auto;
}

/* ドラッグ中は他の操作を無効化 */
.sortableContainer.dragging * {
    pointer-events: none;
}



@media (pointer: coarse) {
    .dragHandle {
        width: 24px;
        padding: 6px;
    }
}