.header {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 16px;
}

.container {
  padding: 16px;
  width: 600px;
  background-color: #fff;
  border: #e9ecef solid 1px;
  border-radius: 6px;
  box-shadow: #e1e1e1 0 0 12px;
}

.container+.container {
  margin-top: 16px;
}

.tabList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.count {
  font-size: 14px;
  margin-left: 12px;
  font-weight: normal;
}

.group {
  margin-bottom: 6px;
}

.groupTitle {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 100%;
  margin: auto;
  margin-bottom: 6px;
  padding: 6px 6px;
  padding-left: 36px;
  font-size: 14px;
  text-overflow: ellipsis;
  border: solid 1px #e9ecef;
  border-radius: 4px;
  margin-top: 8px;

}

.groupTitle::before {
  position: absolute;
  display: block;
  content: "";
  height: 24px;
  width: 24px;
  border-radius: 8px;
  background-color: var(--group-color);
  left: 6px;
  top: 4px;
}

.groupTabs {
  padding-left: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}